@import url('https://fonts.googleapis.com/css?family= Nunito&display=swap');

body{
    margin:0
}

.house{
    padding: 10px 0;
  }

  .color {
    width: 200px;
    height: 25px;
    margin: 10px auto;
  }

  .hover {
    width: 60px;
    height: 25px;
  }

  .border {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75);
  }

  .hover, .border {
    display: inline-block;
  }

  .Green {
    background: linear-gradient(rgba(240, 5, 5, 0.811), #a40687f7, rgba(43, 27, 162, 0.842));
    box-shadow: 0 0 40px 0 rgb(34, 223, 21);
  }

  .yellow {
    background: linear-gradient(#6c5703, rgb(248, 244, 25), #d6ad0a);
    box-shadow: 0 0 40px 0 hsl(60°, 100.00%, 93.92%);
  }

  .Purple{
    background: linear-gradient(hsl(186, 76%, 16%), rgb(4, 172, 228), hsl(240, 56%, 42%));
    box-shadow: 0 0 40px 0 #3366CC;
  }

  body{
    background: linear-gradient(80deg,  #FFFF00, #FF0000,  #0000FF);
    animation: movinggradient 2s ease infinite;
    background-size: 200%;
}

@keyframes  movinggradient {
    20%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 50% 0%;
    }
}

